rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null
          && request.auth.uid == 'ADMIN_UID_PLACEHOLDER';
    }

    match /items/{itemId}/{file} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
